$mobile-width-xs: 320px;
$mobile-width-sm: 320px;
$mobile-width-md: 320px;
$mobile-width-lg: 320px;
$mobile-width-xl: 320px;
$mobile-width-xxl: 320px;

$tablet-width-sm: 320px;
$tablet-width-md: 320px;
$tablet-width-lg: 320px;

$laptop-width-xs: 320px;
$laptop-width-sm: 320px;
$laptop-width-md: 320px;
$laptop-width-lg: 320px;
$laptop-width-xl: 320px;
$laptop-width-xxl: 320px;

$desktop-width-xs: 1024px;
$desktop-width-sm: 1280px;
$desktop-width-md: 1366px;
$desktop-width-lg: 1440px;
$desktop-width-xl: 1920px;
$desktop-width-xxl: 2408px;
