@import '../../styles/common.scss';

.container {
  background-color: #434343;
  height          : 100vh;
  width           : 100vw;
  display         : flex;
  justify-content : center;
  align-items     : center;

  .playerContainer {
    display         : flex;
    flex-direction  : column;
    background-color: #14213d;
    row-gap         : 20px;
    padding         : 20px 20px 11px 20px;

    @media screen and (min-width: 320px) {
      height       : 100%;
      width        : 100%;
      border-radius: 0;
    }

    @media screen and (min-width:1024px) {
      height       : 90%;
      width        : 50%;
      border-radius: 25px;
    }

    @media screen and (min-width:1024px) and (min-height:1366px) {
      height       : 100%;
      width        : 100%;
      border-radius: 0;
    }

    @media screen and (min-width:1440px) {
      height       : 90%;
      width        : 40%;
      border-radius: 25px;
    }

    header {
      display        : flex;
      justify-content: space-between;
      align-items    : center;
      font-size      : 50px;
      color          : white;
      font-family    : 'Lobster', cursive;

      @media screen and (min-width: 320px) {
        font-size: 2em;
        padding  : 0;
      }

      @media screen and (min-width: 800px) and (min-width: 850px) {
        padding: 20px 0;
      }

      @media screen and (min-width:1024px) {
        font-size: 3.125em;
        padding  : 0;
      }

      @media screen and (min-width:1440px) {
        font-size: 3.125em;
        padding  : 20px 0;
      }

      .settingsIcon {
        &:hover {
          &::after {
            content         : 'Coming Soon';
            position        : absolute;
            display         : flex;
            color           : white;
            font-size       : 14px;
            background-color: #6b6767f0;
            padding         : 0.4em;
            border-radius   : 8px;
          }
        }

        svg {
          width : 40px;
          height: 40px;
          fill  : white;
        }
      }
    }
  }
}